/********************/
/***** VARIABLES ****/
/********************/

//couleurs

$background-color: #fff;
$text-color: #444;
$header-color: #2aa2d1;
$link-color: #1991c0;
$link-hover-color: #000;
$tag-color: #eee;

//fonts

$font-base: 'Open Sans';
$font-title: 'Raleway';

//misc

$border-sm: 1px solid #eee;
$border-md: 1px solid #ddd;
$border-lg: 2px solid #ddd;

$shadow-sm: 0 0 1px rgba(0,0,0,0.2);
$shadow-md: 0 0 3px rgba(0,0,0,0.3);
$shadow-lg: 0 0 5px rgba(0,0,0,0.4);

/********************/
/******* BASE *******/
/********************/


html {
    box-sizing: border-box;
    font-size: 63.5%;
    font-family: $font-base;
}

body {
    max-width: 1140px;
    font-size: 1.6rem;
    background-color: $background-color;
    color: $text-color;
    margin: 0;
}

a {
    color: $link-color;
    text-decoration: none;
    :hover {
        color: $link-hover-color;
    }
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}
  
  /* ==========================================
  Single-colored icons can be modified like so:
  .icon-name {
    font-size: 32px;
    color: red;
  }
  ========================================== */

/********************/
/****** HEADER ******/
/********************/

header {
    background-image: url('../images/header.jpg');
    background-size: cover;
    background-position: 50%;
    text-align: center;


    .header_logo {
        width: 20%;
        margin: 2rem auto 0 auto;
    }

    form {
        display: none;
    }

    div {
        div {
            display: inline-block;
            vertical-align: top;
            margin: 2rem 1rem 0;
            span[class*="icon"] {
                color: white;
                font-size: 3rem;
                margin: 1rem 1rem 0 0;
            }
            p {
                margin: 0;
                color: white;
                font-size: 1.4rem;
            }
        }
    }
    ul {
        list-style: none;
        background-color: rgba(255, 255, 255, 0.3);
        li {
            display: flex;
            span {
                color: white;
            }
        }
    }

    h1 {
        color: white;
        text-align: center;
        text-shadow: $shadow-lg;
        margin: 0;
    }

    h2 {
        text-align: center;
        font-size: 1.6rem;
        color: rgba(255, 255, 255, 0.5);
        margin: 0;

    }
}

.header__navbar ul li{
    margin: auto;
    text-align: center;
}

.header__navbar a {
    display: flex;
    padding: 1em;
    text-align:center;
    margin: auto;

}

span[class*="icon"] {
    font-size: 2.3rem;
    margin-right: 1rem;
}

/********************/
/***** MAIN *********/
/********************/

main {
    width: 95%;
    margin: auto;
}
.breadcrumb {
    display: none;
}

.header_tag {
    display: inline-block;
    font-size: 1.3rem;
    padding: 0.3rem 1rem;
    margin: 0.2rem;
    background-color: $tag-color;
}

.toc {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    .toc__link {
        font-size: 1.4rem;
        margin-top: 0.8rem;
    }
}

.main__product {
    .main__presentation {

    }
}

.main__slider {
    width: 100%;
    img {
        width: 100%;
    }
}

.fake-slider {
    display: flex;
    max-width: 100%;
    justify-content: space-around;
    img {
        width: 10%;
    }
}

.main__paiement {
    background-color: #eee;
}


