/********************/
/***** VARIABLES ****/
/********************/

//couleurs

$background-color: #fff;
$text-color: #444;
$header-color: #2aa2d1;
$link-color: #1991c0;
$link-hover-color: #000;
$tag-color: #eee;

//fonts

$font-base: 'Open Sans';
$font-title: 'Raleway';

//misc

$border-sm: 1px solid #eee;
$border-md: 1px solid #ddd;
$border-lg: 2px solid #ddd;

$shadow-sm: 0 0 1px rgba(0,0,0,0.2);
$shadow-md: 0 0 3px rgba(0,0,0,0.3);
$shadow-lg: 0 0 5px rgba(0,0,0,0.4);

/********************/
/******* BASE *******/
/********************/


html {
    box-sizing: border-box;
    font-size: 63.5%;
    font-family: $font-base;
}

body {
    max-width: 1140px;
    font-size: 1.6rem;
    background-color: $background-color;
    color: $text-color;
    margin: 0;
}

a {
    color: $link-color;
    text-decoration: none;
    :hover {
        color: $link-hover-color;
    }
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}
  
  /* ==========================================
  Single-colored icons can be modified like so:
  .icon-name {
    font-size: 32px;
    color: red;
  }
  ========================================== */

/********************/
/****** HEADER ******/
/********************/

header {
    background-image: url('../images/header.jpg');
    background-size: cover;
    background-position: 50%;
    text-align: center;


    .header_logo {
        width: 20%;
        margin: 2rem auto 0 auto;
    }

    form {
        display: none;
    }

    div {
        div {
            display: inline-block;
            vertical-align: top;
            margin: 2rem 1rem 0;
            span[class*="icon"] {
                color: white;
                font-size: 3rem;
                margin: 1rem 1rem 0 0;
            }
            p {
                margin: 0;
                color: white;
                font-size: 1.4rem;
            }
        }
    }
    ul {
        li {
            display: flex;
            span {
                color: white;
            }
        }
    }

    h1 {
        color: white;
        text-align: center;
        text-shadow: $shadow-lg;
        margin: 0;
    }

    h2 {
        text-align: center;
        font-size: 1.6rem;
        color: rgba(255, 255, 255, 0.5);
        margin: 0;

    }
}

.navbar ul {
    list-style: none;
    background-color: rgba(255, 255, 255, 0.3);
}

.navbar ul li{
    margin: auto;
    text-align: center;
}

.navbar a {
    display: flex;
    padding: 1em;
    text-align:center;
    margin: auto;

}

span[class*="icon"] {
    font-size: 2.3rem;
    margin-right: 1rem;
}

/********************/
/***** MAIN *********/
/********************/

main {
    width: 95%;
    margin: auto;
}
.breadcrumb {
    display: none;
}

.header_tag {
    display: inline-block;
    font-size: 1.3rem;
    padding: 0.3rem 1rem;
    margin: 0.2rem;
    background-color: $tag-color;
}

.toc {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    .toc__link {
        font-size: 1.4rem;
        margin-top: 0.8rem;
    }
}

.main__product {
    .main__presentation {

    }
}

.main__slider {
    width: 100%;
    img {
        width: 100%;
    }
}

.fake-slider {
    display: flex;
    max-width: 100%;
    justify-content: space-around;
    img {
        width: 10%;
    }
}

.main__paiement {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #eee;
    div {
        p {
        }
        small {

        }
    }
    .product__garantie {
        align-self: flex-end;
        background-color: #DDD;
        width: 100%;
        text-align: center;
        padding: 1rem;

    }
    a {
        margin: auto;
        display: block;
        width: 80%;
        line-height: 4rem;
        text-align: center;
    }
}

.button__div {
    text-align: center;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    width: 50%;
}
.main_button {
    margin: auto;
    width: 80%;
    padding: 1rem 2rem;
    font-size: 2rem;
    line-height: 4rem;
    background-color: $link-color;
    color: white;

}

.price {
    font-size: 4rem;
    margin-top: 10rem;
    margin-bottom: 0;
    margin-left: 2rem;
}



/********************/
/******* FOOTER *****/
/********************/

footer {
    background-image: url('../images/footer.jpg');
    background-size: cover;
    background-position: 50% 80%;
    color: #ccc;
    h2 {
        margin-top: 7rem;
        font-size: 4rem;
        text-align: center;
    }
}

.footer__navbar {
    background-color: grey;
    color: white;
    ul {
        padding: 0;
        text-align: center;
        margin: auto;
        li {
            display: flex;
            margin: auto;
            text-align: center;
            span {
                margin: auto;
            }
            p {
                margin: auto;
            }

        }
    }

}

.footer > ul {
    list-style: none;
    padding: 0;
    a {
        color: white;
    }
    li {
        margin: 1rem;
      text-align: center;
    }
}

.payment {
    display: flex;
    justify-content: space-around;
    div {
        border-radius: 3px;
        width: 22%;
        height: 8rem;
        background-image: url('../images/payment.png');
        background-size: cover;
    }
    div:nth-of-type(1) {
        background-position: 25%;
    }

    div:nth-of-type(2) {
        background-position: 0;
    }

    div:nth-of-type(3) {
        background-position: 50%;
    }
    div:nth-of-type(4) {
        background-position: 75%;
    }
}

.social-icons {
    text-align: center;
    span[class*="icon"] {
        font-size: 3rem;
        margin-right: 2rem;
    }
}
