/********************/
/***** VARIABLES ****/
/********************/

//couleurs

$background-color: #eee;
$text-color: #444;
$header-color: #2aa2d1;
$link-color: #1991c0;
$link-hover-color: #000;

//fonts

$font-base: 'Open Sans';
$font-title: 'Raleway';

//misc

$border-sm: 1px solid #eee;
$border-md: 1px solid #ddd;
$border-lg: 2px solid #ddd;

$shadow-sm: 0 0 1px rgba(0,0,0,0.2);
$shadow-md: 0 0 3px rgba(0,0,0,0.3);
$shadow-lg: 0 0 5px rgba(0,0,0,0.4);

/********************/
/******* BASE *******/
/********************/


html {
    box-sizing: border-box;
    font-size: 63.5%;
    font-family: $font-base;
}

body {
    max-width: 1140px;
    font-size: 1.6rem;
    background-color: $background-color;
    color: $text-color;
}

a {
    color: $link-color;
    :hover {
        color: $link-hover-color;
    }
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}
  
  /* ==========================================
  Single-colored icons can be modified like so:
  .icon-name {
    font-size: 32px;
    color: red;
  }
  ========================================== */

/********************/
/****** HEADER ******/
/********************/

header {
    background-image: url('../images/header.jpg');
    background-size: cover;
    background-position: 50%;
    text-align: center;


    .header_logo {
        width: 20%;
        margin: 2rem auto 0 auto;
    }

    form {
        display: none;
    }

    ul {
        list-style: none;
        background-color: rgba(255, 255, 255, 0.3);
        li {
            display: flex;
            span {
                color: white;
            }
        }
    }

    h1 {
        color: white;
        text-align: center;
        text-shadow: $shadow-lg;
        margin: 0;
    }

    h2 {
        text-align: center;
        font-size: 1.6rem;
        color: rgba(255, 255, 255, 0.5);
        margin: 0;

    }
}
